<!doctype html>
<html>

<head>
    <title>OrderNova Worker View</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/ordernova.css"> <!-- here is the CSS I want to use -->
</head>

<body>
    <!-- content OF this document -->
    <div class="logo-header">
        <h1>Order<span class="accent">Nova</span></h1>
    </div>

    <div class="wo-panel"> <!-- section of page-->
        <!-- Area for tasks currently assigned to this worker -->
        <h2>Currently assigned to {{ username }} </h2>

        <div class="wo-list"> <!-- list of WO container-->
            <div class="wo-item"> <!-- list item -->
                <h3 class="wo-title">{{ description }}</h3>
                <p class="wo-metadata">WO #{{ woid }} assigned to {{ username }} {{ datestr }}</p>
                <ul>
                    <li class="btn complete"><a href="http://example.com/">Complete</a></li>
                    <li class="btn cancel">Cancel</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="wo-panel"> <!-- section of page-->
        <!-- Area for all tasks waiting to be assigned to someone -->
        <h2>Available work orders</h2>
        <div class="wo-list">
            <div class="wo-list">
                <div class="wo-item">
                    <h3 class="wo-title">Request teaching for next year</h3>
                    <p class="wo-metadata">WO #451 created 1 Feb 2023</p>
                    <ul>
                        <li class="btn accept">Accept</li>
                    </ul>
                </div>
            </div>
        </div>
</body>

</html>