<!doctype html>
<html>

<head>
    <title>OrderNova Worker View</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/ordernova.css"> <!-- here is the CSS I want to use -->
</head>

<body>
    <!-- content OF this document -->
    <div class="logo-header">
        <h1>Order<span class="accent">Nova</span></h1>
    </div>

    <div class="wo-panel"> <!-- section of page-->
        <!-- Area for tasks currently assigned to this worker -->
        <h2>Currently assigned to {{ username }} </h2>

        <div class="wo-list"> <!-- list of WO container-->

            {% for wo in assigned_wo_data %}

            <div class="wo-item"> <!-- list item -->
                <h3 class="wo-title">{{ wo["description"] }}</h3>
                <p class="wo-metadata">WO #<a href="/wo/{{wo["woid"]}}/" class="nodecorate">{{ wo["woid"] }}</a> assigned {{ wo["assigned_ts_ago"] }} ({{
                    wo["assigned_ts_str"] }})</p>
                <ul>
                    <li class="btn complete"><a href="/wo/{{ wo["woid"] }}/complete/{{ username }}/">Complete</a></li>
                    <li class="btn cancel"><a href="/wo/{{ wo["woid"] }}/cancel/{{ username }}/">Cancel</a></li>
                </ul>
            </div>

            {% endfor %}

        </div>
    </div>

    <div class="wo-panel"> <!-- section of page-->
        <!-- Area for all tasks waiting to be assigned to someone -->
        <h2>Available work orders</h2>
        <div class="wo-list">

            {% for wo in open_wo_data %}

            <div class="wo-list">
                <div class="wo-item">
                    <h3 class="wo-title">{{ wo["description"] }} </h3>
                    <p class="wo-metadata">WO #<a href="/wo/{{wo["woid"]}}/" class="nodecorate">{{ wo["woid"] }}</a> created {{ wo["created_ts_ago"] }} ({{ wo["created_ts_str"]
                    }})</p>
                <ul>
                    <li class="btn accept"><a href="/wo/{{ wo["woid"] }}/assign_to/{{ username }}/">Accept</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
</body>

</html>