body {
    font-family: 'Signika Negative', sans-serif;
    /* Main text font */
    max-width: 50rem;
    /* Limit width of the body */
    padding: 1em;
    margin: auto;
    /* Center the body */
    background: #202020;
    /* Main BG color */
    color: #f8f9eb;
    /* Main text color */
}

body>div {
    /* Leave some margin and padding around top-level DIVs (those with parent BODY) */
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.logo-header {
    /* Special styling for the div containing the title (mostly invisible) */
    text-align: center;
    overflow: auto;
    background: none;
}

div.logo-header h1 {
    font-family: 'Sofia Sans Condensed', sans-serif;
    /* rounded sans font from Google Fonts */
    font-style: italic;
    /* Slanted text */
    font-weight: normal;
    /* Not bold */
    font-size: 36pt;
    display: inline-block;
    /* Make into a box that sits inside the div */
    width: auto;
    /* Reduce size of the box to just fit the text */
    margin: auto;
    /* Centers the box inside the parent div */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.15em;
    padding-right: 0.3em;
}

/* Add colors for individually-accented parts of the
   title inside H1 */

div.logo-header h1 span.accent1 {
    color: #55DF52;
}

div.logo-header h1 span.accent2 {
    color: #00C47C;
}

div.logo-header h1 span.accent3 {
    color: #00A692;
}

div.logo-header h1 span.accent4 {
    color: #008792;
}


div.wo-panel {
    margin-bottom: 1em;
    /* Ensure space between panels */
}

div.wo-panel h2 {
    /* Panel titles */
    font-weight: normal;
    /* not bold */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.wo-item {
    border: 1px solid #808080;
    /* thin gray border */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background: rgba(100, 100, 100, 0.2);
    /* 20% opaque white background to individual item divs */
}

/* Styling of any paragraph inside a work order item div */
.wo-item p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

/* Styling of the work order title, an h3 inside the item div */
.wo-title {
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/* Additional styling of the <p> that contains metadata about
   an item: Small text and different color. */
.wo-metadata {
    font-size: 75%;
    color: #A0A0A0;
}


/*
Any UL under wo-item is taken to be a container for some buttons.
We cancel the usual bullets and indenting, and configure the text
rendering to all caps, small caps, small type.
*/
.wo-item ul {
    padding: 0em;
    margin: 0;
    margin-top: 0.5em;
    font-size: 80%;
    display: inline-block;
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 75%;
}

/* li under wo-item is a button.  We make them go side-by-side (float...) with a dark background */
.wo-item li.btn {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    float: left;
    list-style: none;
    text-align: center;
    padding: 0.5em;
    margin-right: 0.2em;
    background: #666666;
    color: #404040;
    border-radius: 7px;
    /* rounded corners */
}

/* Buttons are usually links, so we disable the blue underline in most browser defaults for A tags */
.wo-item li a {
    text-decoration: none;
    /* no underline */
    color: inherit;
    /* inherit = ignore default setting of a and default to containing tag style */
}

/* Background colors of specific buttons */

.wo-item li.complete {
    background: #55DF52;

}

.wo-item li.cancel {
    background: #dfdf52;
}

.wo-item li.accept {
    background: #22cad9;
    color: #202020;
}

a {
    color: #aeafa4;
}

a.nodecorate {
    text-decoration: none;
}